<div>

    <ul style="display:none" class="unstyled error-list"></ul>
    <ul style="display:none" class="unstyled success-list"></ul>
    <div class="row form-container">
    </div>

    <div class="form-actions ">
        <div class="btn-group pull-left">
            <a class="btn cancel" href="#/${schema.modelName}/list"><b class="icon-list"/>List</a>
            <button class="btn cancel">Cancel</button>
        </div>
        <button type="submit" class="btn pull-right btn-primary save">Save</button>
        <div style="clear:right"></div>
    </div>
</div>