<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">${_app(true).options.display.title}</a>

            <div class="nav-collapse mainnav">
                <ul class="nav">
                    {{each(i,l) _models(true)}}
                       <li class="${l}" id="menu${l}">
                          <a href="#/${l}/list">${_schema(true, l).display.plural}</a>
                       </li>
                    {{/each}}
                </ul>
            </div>
            {{if useAuthentication}}
                <a class="logout pull-right" href="${baseUri}/logout">Logout</a>
            {{/if}}
        </div>
    </div>
</div>