<div>
<h4 class="pull-left">${schema.plural}</h4><a href="#/${schema.modelName}/edit" class="btn btn-mini pull-right"><b class="icon-edit"></b>Create ${schema.title} </a>
<table class="table table-striped top-line">
    <thead style="white-space: nowrap">
        <tr>
            {{each(i,l) schema.list_fields}}
                <th data-field="${l}" class="elementActivate sortable">${schema.paths[l].title}</th>
            {{/each}}
        </tr>
        <tr>&nbsp;
        </tr>
    </thead>
    <tbody/>
    <tfoot>
        <tr></tr>
    </tfoot>
</table>
 <div class="pager_table" data-limit="10" data-item="${schema.title}" data-items="${schema.plural}"></div>
</div>
