<div class="edit-form">
    <!-- display edit form -->
    <ul style="display:none" class="unstyled error-list alert-error"></ul>
    <ul style="display:none" class="unstyled success-list"></ul>
    <div class="form-wrap ">
        <div class="form-container"></div>
    </div>
    <div class="form-actions">
        <div class="btn-group pull-left">
            <a href="#" class="btn cancel">Cancel</a>
            <button class="btn preview">Preview</button>
            <button class="btn default">Defaults</button>
        </div>
        <div class="save">
        </div>
        <div style="clear:both"></div>
    </div>

</div>