<section class="download" id="variables">
    <div class="page-header">
        <a class="btn btn-small pull-right toggle-all" href="#">Reset to defaults</a>
        <h1>
            3. Customize variables
            <small>Optionally modify Bootstrap without a compiler</small>
        </h1>
    </div>
    <div class="row download-builder">
        <div class="span3">
            <h3>Scaffolding</h3>
            <label>@bodyBackground</label>
            <input type="text" class="span3" placeholder="@white">
            <label>@textColor</label>
            <input type="text" class="span3" placeholder="@grayDark">

            <h3>Links</h3>
            <label>@linkColor</label>
            <input type="text" class="span3" placeholder="#08c">
            <label>@linkColorHover</label>
            <input type="text" class="span3" placeholder="darken(@linkColor, 15%)">
            <h3>Colors</h3>
            <label>@blue</label>
            <input type="text" class="span3" placeholder="#049cdb">
            <label>@green</label>
            <input type="text" class="span3" placeholder="#46a546">
            <label>@red</label>
            <input type="text" class="span3" placeholder="#9d261d">
            <label>@yellow</label>
            <input type="text" class="span3" placeholder="#ffc40d">
            <label>@orange</label>
            <input type="text" class="span3" placeholder="#f89406">
            <label>@pink</label>
            <input type="text" class="span3" placeholder="#c3325f">
            <label>@purple</label>
            <input type="text" class="span3" placeholder="#7a43b6">

            <h3>Sprites</h3>
            <label>@iconSpritePath</label>
            <input type="text" class="span3" placeholder="'../img/glyphicons-halflings.png'">
            <label>@iconWhiteSpritePath</label>
            <input type="text" class="span3" placeholder="'../img/glyphicons-halflings-white.png'">

        </div><!-- /span -->
        <div class="span3">
            <h3>Grid system</h3>
            <label>@gridColumns</label>
            <input type="text" class="span3" placeholder="12">
            <label>@gridColumnWidth</label>
            <input type="text" class="span3" placeholder="60px">
            <label>@gridGutterWidth</label>
            <input type="text" class="span3" placeholder="20px">
            <h3>Fluid grid system</h3>
            <label>@fluidGridColumnWidth</label>
            <input type="text" class="span3" placeholder="6.382978723%">
            <label>@fluidGridGutterWidth</label>
            <input type="text" class="span3" placeholder="2.127659574%">

            <h3>Typography</h3>
            <label>@baseFontSize</label>
            <input type="text" class="span3" placeholder="13px">
            <label>@baseFontFamily</label>
            <input type="text" class="span3" placeholder="'Helvetica Neue', Helvetica, Arial, sans-serif">
            <label>@baseLineHeight</label>
            <input type="text" class="span3" placeholder="18px">
            <label>@altFontFamily</label>
            <input type="text" class="span3" placeholder="Georgia, 'Times New Roman', Times, serif;">
            <label>@headingsFontFamily</label>
            <input type="text" class="span3" placeholder="inherit">
            <label>@headingsFontWeight</label>
            <input type="text" class="span3" placeholder="bold">
            <label>@headingsColor</label>
            <input type="text" class="span3" placeholder="inherit">
            <label>@heroUnitBackground</label>
            <input type="text" class="span3" placeholder="@grayLighter">
            <label>@heroUnitHeadingColor</label>
            <input type="text" class="span3" placeholder="inherit">
            <label>@heroUnitLeadColor</label>
            <input type="text" class="span3" placeholder="inherit">
        </div><!-- /span -->
        <div class="span3">
            <h3>Tables</h3>
            <label>@tableBackground</label>
            <input type="text" class="span3" placeholder="transparent">
            <label>@tableBackgroundAccent</label>
            <input type="text" class="span3" placeholder="#f9f9f9">
            <label>@tableBackgroundHover</label>
            <input type="text" class="span3" placeholder="#f5f5f5">
            <label>@tableBorder</label>
            <input type="text" class="span3" placeholder="#ddd">

            <h3>Navbar</h3>
            <label>@navbarHeight</label>
            <input type="text" class="span3" placeholder="40px">
            <label>@navbarBackground</label>
            <input type="text" class="span3" placeholder="@grayDarker">
            <label>@navbarBackgroundHighlight</label>
            <input type="text" class="span3" placeholder="@grayDark">
            <label>@navbarText</label>
            <input type="text" class="span3" placeholder="@grayLight">
            <label>@navbarLinkColor</label>
            <input type="text" class="span3" placeholder="@grayLight">
            <label>@navbarLinkColorHover</label>
            <input type="text" class="span3" placeholder="@white">
            <label>@navbarLinkColorActive</label>
            <input type="text" class="span3" placeholder="@navbarLinkColorHover">
            <label>@navbarLinkBackgroundHover</label>
            <input type="text" class="span3" placeholder="transparent">
            <label>@navbarLinkBackgroundActive</label>
            <input type="text" class="span3" placeholder="@navbarBackground">
            <label>@navbarSearchBackground</label>
            <input type="text" class="span3" placeholder="lighten(@navbarBackground, 25%)">
            <label>@navbarSearchBackgroundFocus</label>
            <input type="text" class="span3" placeholder="@white">
            <label>@navbarSearchBorder</label>
            <input type="text" class="span3" placeholder="darken(@navbarSearchBackground, 30%)">
            <label>@navbarSearchPlaceholderColor</label>
            <input type="text" class="span3" placeholder="#ccc">

            <h3>Dropdowns</h3>
            <label>@dropdownBackground</label>
            <input type="text" class="span3" placeholder="@white">
            <label>@dropdownBorder</label>
            <input type="text" class="span3" placeholder="rgba(0,0,0,.2)">
            <label>@dropdownLinkColor</label>
            <input type="text" class="span3" placeholder="@grayDark">
            <label>@dropdownLinkColorHover</label>
            <input type="text" class="span3" placeholder="@white">
            <label>@dropdownLinkBackgroundHover</label>
            <input type="text" class="span3" placeholder="@linkColor">
        </div><!-- /span -->
        <div class="span3">
            <h3>Forms</h3>
            <label>@placeholderText</label>
            <input type="text" class="span3" placeholder="@grayLight">
            <label>@inputBackground</label>
            <input type="text" class="span3" placeholder="@white">
            <label>@inputBorder</label>
            <input type="text" class="span3" placeholder="#ccc">
            <label>@inputDisabledBackground</label>
            <input type="text" class="span3" placeholder="@grayLighter">

            <label>@btnPrimaryBackground</label>
            <input type="text" class="span3" placeholder="@linkColor">
            <label>@btnPrimaryBackgroundHighlight</label>
            <input type="text" class="span3" placeholder="darken(@white, 10%);">

            <h3>Form states &amp; alerts</h3>
            <label>@warningText</label>
            <input type="text" class="span3" placeholder="#c09853">
            <label>@warningBackground</label>
            <input type="text" class="span3" placeholder="#fcf8e3">
            <label>@errorText</label>
            <input type="text" class="span3" placeholder="#b94a48">
            <label>@errorBackground</label>
            <input type="text" class="span3" placeholder="#f2dede">
            <label>@successText</label>
            <input type="text" class="span3" placeholder="#468847">
            <label>@successBackground</label>
            <input type="text" class="span3" placeholder="#dff0d8">
            <label>@infoText</label>
            <input type="text" class="span3" placeholder="#3a87ad">
            <label>@infoBackground</label>
            <input type="text" class="span3" placeholder="#d9edf7">
        </div><!-- /span -->
    </div><!-- /row -->
</section>